<div class="container py-3">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <img src="../../../assets/img/image3.jpg" class="img-fluid" alt="Imagen 1">
        </div>
        <div class="col-md-4 col-sm-6 d-flex align-items-center">
            <p class="fs-4 fw-bold">Adentrate en el apasionante mundo de la gastronomica con nuestra aplicacion What`s Cooking?, explora, comparte y descubre los distintos sabores del mundo</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="../../../assets/img/image2.jpg" class="img-fluid" alt="Imagen 2">
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-center">
            <a href="/login" class="btn btn-dark mb-2">Iniciar sesión</a>
            <p class="fs-4 fw-bold">Inicia sesion en tu cuenta o registrate para descubrir más</p>
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="../../../assets/img/image1.jpg" class="img-fluid" alt="Imagen 3">
        </div>
        <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-center">
            <a href="/recipes" class="btn btn-dark mb-2">Recetas</a>
            <p class="fs-4 fw-bold">Explora las recetas compartidas por nuestra comunidad</p>
        </div>
    </div>
</div>
